/*! HTML5 Boilerplate v7.3.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  color:#808080;
  /*line-height: 1.4;*/
  background: #ffffff;
  /*margin-top:-16px;*/
  height: 100%;


}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
  min-height: 100%;
}

.container{
  width: 1170px;
  height: 100%;
  margin:0 auto 0;
  position: relative;
}

/*css-header*/
header {
  height: 155px;
  width: 100%;
}

.top-bg{
  position: relative;
  height: 40px;
  background-color: #192330; 
  width: 100%;
}

.top-bg .container .text{
  position: absolute;
  height: 100%;
  font-size: 12px;
  color: #ababab;
  /*margin-right: 400px;*/
}

.top-bg .container .text span{
  float: left;
  height: 100%;
  padding:0 15px 0;
  line-height: 3;
  /*left: 110px;*/
}

.top-bg .container .icon{
  position: relative;
  float:right;
  height: 100%;
  max-width: 150px;
  right: 10px;
}


.icon a{
  /*position: relative;*/
  text-decoration: none;
  display: block;
  float: left;
  height: 100%;
  width: 25px;
  line-height: 3;
}

.icon a img{
    height: 14px;
    padding-top: 5px;
    padding-bottom: 5px;
  }

.header-menu{
  position: relative; 
  top:45px;
  height: 25px;
  width: 100%;
 }

.header-menu .container .logo{
  position: relative;
  float: left;
  left: 15px;
  margin-right: 185px;
}

.header-menu nav {
  position: relative;
  float: left;
  top: 8px;
}


.header-menu nav a{
  color:#444444;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  /*font-size: 13px;*/
  font-weight: bold;
  display: block;
  height: 100%;
  float: left;
  margin-right: 20px;
}
.header-menu nav a:last-child{
   margin-right: 0;
}

.header-menu nav a.active{
 color:#009688;;
}
.header-menu nav a:hover{
  color: #009688;
}

.search{
  position: relative;
  float: right;
  color:#444444;
  right: 20px;
  top:10px;
}
.search-mobile{
  display: none;
}



/*Slider css*/
.slide {
  position: relative;
  background-image: url("../img/bg_slide.jpg");
  background-position: center 40%;
  background-size:cover;
  width: 100%;
  height: 825px;
}


.slider2{
  height: 100%;
  width: 100%;
}


.slider2 .text{
  color: white;
  padding-top: 270px;
  padding-left: 15px;
}

.slider2 button{
    background: rgba(255,245,215,0); 
    border: 1px solid #ffffff;
    color: white;
    height: 45px;
    width: 155px; 
    margin-top: 65px;
    margin-left: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Poppins-Regular', sans-serif;
    /*font-size: 13px;*/
    cursor: pointer;

}

.slider2 .text span{
  display: block;
  top: 275px;
  left: 15px;
  /*font-size: 13px;*/
  width: 65%;
  line-height: 2;
}

.slider2 .text .text-up{
  width: 765px;
   text-transform: uppercase;
   font-size: 76px;
   font-family: 'Poppins-Black', sans-serif;
   padding-bottom: 25px;
   font-weight: 780;
   line-height: 0.75;
   /*font-weight: bolder;*/
}

.slider2 .text .head1{
   font-size:24px;
   font-family: 'Poppins-Black', sans-serif;
   font-weight: 780;
   letter-spacing: 0.05em;
  }



.bulet-poient{
  position: absolute;
  left: 50%;
  /*margin-bottom: 28px;*/
  bottom: 28px;
}
.square {
  height: 4px;
  width: 4px;
  border: solid 2px #414141;
  background-color: #414141;
  float:left;
  margin-left:15px;
}

.square-active {
  height: 4px;
  width: 4px;
  border: solid 2px #414141;
  background-color: #a6a6a6;
  float:left;
  margin-left:15px;
}


/* CSS: About and Service*/

.about-service{
  position: relative;
  height: 1310px;
  width: 100%;

}

.about-service .container .text{
  position: relative;
  top:10%;   /*150px*/
  width: 100%;
  text-align: center; 
  margin-bottom: 10%;
}

.about-service .container .text .text-head{
  display: block;
  text-transform: uppercase;
  font-size:36px;
  font-family: 'Poppins', sans-serif;
  color: #444444;
  font-weight:700;
  margin-bottom: 40px;
  /*font-stretch: ultra-condensed;*/

}
.about-service .container .text .text-head span{
  font-family: 'Poppins', sans-serif;
  font-weight:700;
  color:#009688;

}

.about-service .container .text span{
  color: #808080;
  /*font-size: 13px;*/
  font-family: 'Poppins', sans-serif;
  line-height: 1.75em;
 }


.about-service .container .mockup{
  position: relative;
  top:9%;
  width: 100%;
  height: 62%;   /*height: 810px;*/
}

.about-service .container .mockup img{
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  object-fit:contain;
    /*min-height: 100%;
    min-width: 100%;*/
}


.about-service .container .mockup-bg{
  position:absolute;
  left:-40%;
  top:-10%;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 156px;
  color:#009688;
  color: rgba(0,150,136,0.15);
  transform: rotate(-90deg);
}


.about-service .service{
  position: absolute;
  background-color: #fafafa;
  height: 36.5%;
  width: 84%;
  /*top: 57%;*/
  bottom:0px;
  /*border: 1px solid gray; */
  padding-right:8%;
  padding-left: 8%;
 }

.about-service .service div{
  position: relative;
}

.about-service .service div div{
  margin: 7% 0 10% 0;
  float: left;
  font-size: 13px;
  width: 22.8%;
  height: 100%;
  padding:0 15px; 
  text-align: center;
  line-height: 1.75em;
  font-family: 'Poppins', sans-serif;
 
}
/*
.about-service .service .service-block{
  position: relative;
  width: 100%;
  margin: 0 auto 0;
} */

.about-service .service div div span{
  display: block;
  width: 100%;
  font-size: 20px;
  color:black;
  font-family: 'Poppins-Semi-bold', sans-serif;
  font-weight: 600;
  padding: 30px 0;
}


.about-service a{
  font-size: 72px;  
  color:#444444;
  text-decoration: none;
}

.about-service a.active
{ 
  color:#009688;
}

.about-service a:hover{
  color: #009688;
}

/*===============================
#main-slider
================================*/
#portfolio{
  position: relative;
  height: 950px;
}

#portfolio .text{
  margin-top:30px;
  margin-bottom:30px;
  color:#444444;
  font-size: 30px;
  font-family: 'Poppins-Semi-bold', sans-serif;
  font-weight: 600;
  text-align: center;

}

#main-slider{
  max-width: 100%;
  /*position: relative;*/
  max-height: 60%;

}

#main-slider div{
  float: left;
  display: inline-block;
  color:#009688;
  
}


#main-slider .pref,
#main-slider .next{
    background: #00968887; /*  #a6a6a6cc   ;*/
    width: 60px;
    height: 78px;
    font-size: 56px;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top:30%;
}

#main-slider .pref{
  left: -10px;
}

#main-slider .next{
  right: -10px;
}

#main-slider .image{
  /*position: relative;*/
  width: 100%;
  height: 550px;
}

#main-slider .image img{
  width: 100%;
  height:100%;
  /*vertical-align: middle;*/
  margin: 0 auto;
  object-fit: contain;
}

#slides{
  margin: 0 auto;
  position: relative;
  padding-left: 60px; 
}
#slides ul{
  list-style: none;
  margin:0;
  padding: 0 0 0 80px;
}

#slides ul li{
  border: 1px solid #fafafa;
  width: 9%;
  height: auto;
  float: left;
  margin: 0px 2px;
}

#slides ul li.active{
  border: 4px solid  #009688; /*#a6a6a6cc;*/
  width: 8%;
  height: auto;
  float: left;
  margin: 0px 2px;
}

#slides ul li img{
  width: 100%;
  height: 100%;
}

#full-image{
  display: none;
  width: 90%;
  height: auto;
  position:fixed;
  top:10%;
  left:5%;
  background: #FFF;
  /*border: 4px solid #009688; */
}

#full-image img{
  width: 100%;
  max-height: 100%;
  margin: 5% auto;
  display: block;
}


#opacity{
  display: none;
  position:fixed;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  background: #009688;
  opacity: 0.3;
}



/*===============================
RESPONSE DEINGN
================================*/
/*@media (max-width: 1920px){
  .container {
    width: 1170px;
  }
}*/


@media (max-width: 1000px){


 body{
  font-size: 11px;
 }

  .container {
    width: 860px;
  }

  .top-bg .container .icon{
  /*padding-left: 84%;   /*1010px;*/*/
  }

  .nav{
    float:right;
  }

  .slide {
    /*background-image: url("../img/bg_slide.jpg");*/
    background-position: center 40%;
    background-size:cover;
    width: 100%;
    height: 475px;
  }


  .slider2 {
    width: 94%;
    margin-left: 5%;
  }

  .slider2 .text{
    color: white;
    padding-top: 140px;

      /*padding-left: 15px;*/
  }

  .slider2 .text span{
    width: 630px;
  }

  .slider2 .text .text-up{
     width: 90%; 
    font-size: 48px;
  }

  .slider2 .text .head1{
     font-size:18px;
     font-family: 'Poppins-Black', sans-serif;
     font-weight: 780;
     letter-spacing: 0.05em;
   }



    /*About and Service*/
  .about-service{
    height: 682px;   /*52% від 1310*/
  }



  .about-service .container .text .text-head{
      font-size:24px;
  }


  .about-service .container .mockup{
     top:2%;
  }


  .about-service .service{
      height: 32%;
      width: 96%;
      padding-left:2%;
      padding-right:2%;
      bottom: 0;
   }

  .about-service .service div div{
    width: 21.5%;
    margin-top: 4%;
    margin-bottom:4%;
    font-size: 11px;
  }

  .about-service .service div div span{
    font-size: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .about-service a { 
    font-size: 36px;  
  }

  .about-service .container .mockup-bg{
    left:-20%;
    top:-15%;
    font-size: 76px;
  }

  #portfolio {
    height: 600px;
  }

   #portfolio .text{
    padding-top: 30px;
    padding-bottom: 20px;
   }
  
  #main-slider .image{
      height: 100%;
  }

  #main-slider .image img{
    display: block;
    width: 90%;
    height: 90%;
    margin-top: 2.5%;
  }

  #slides ul{
    padding: 0;
      
  }

/*  #slides ul li{
    height: 48px;
  }

  #slides ul li.active{
    height: 40px;
    
  }*/

}



@media (max-width: 768px){
  body{
    height:100%;
    width:100%;
  }
  .container {
    width: 98%;
  } 
  body{
    font-size: 10px;
  }

  header{
    height: 70px;
  }
  
 
 .top-bg{
    height: 20px;
  }
  .top-bg .container .text{
    font-size: 8px;
  } 
  .top-bg .container .text span{
    padding-top: 2px;
    line-height: 2;
    /*font-size: 8px;*/
  }

  .top-bg .container .icon{
       padding-right: 0px; 
   }


   .icon a{
    line-height: 2;
    width: 20px;
   }
  .icon a img{
    height: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
  }


  .header-menu{
    top:15px;
    height: 20px;
  }

  .header-menu .container .logo a{
    font-size: 15px;
  } 

  .header-menu a img{
    height: 15px;
  }
 .header-menu nav {
   top: 5px;
   font-size: 8px;
  }

  .search{
    top:7px;
    font-size: 8px;
  }

  

  .slide{
    height: 330px;
  }
  .slider2 .text{
    padding-top: 110px;
  }
  
  .slider2 .text span{
    width: 84%;
  }

  .slider2 .text .text-up{
    font-size: 32px;
    padding-bottom: 15px;
   }

  .slider2 .text .head1{
     font-size:12px;
     font-family: 'Poppins-Black', sans-serif;
     font-weight: 780;
     letter-spacing: 0.05em;
  }

   .slider2 .text span{
     font-size:10px;
   }

  .slider2 button{
    height: 20px;
    width: 100px;
    margin-top: 25px;
    font-size: 8px;
    line-height: 1;
  }


  .bulet-poient{

  bottom: 10px;
}
.square {
  height: 2px;
  width: 2px;
  border: solid 1px #414141;
  margin-left:5px;
}

.square-active {
  height: 2px;
  width: 2px;
  border: solid 1px #414141;
  background-color: #a6a6a6;
  margin-left:5px;
}

  .about-service{
    height: 525px; 
  }

  .about-service .container .text .text-head {
    font-size: 20px;
    margin-bottom: 16px;
  }

 .about-service .container .mockup-bg{
      display: none;
  }


  .about-service .service{
      height: 31%;
      width: 94%;
      padding-left:3%;
      padding-right:3%;
      bottom: 0;
   }

   .about-service .service .service-block div{
      width: 23%;
      margin-top: 4%;
      margin-bottom:4%;
      font-size: 8px;
      padding: 0 7px;
   }

   .about-service a{
       font-size: 26px;

  }

    .about-service .service div div span{
      font-size: 12px;
      color:black;
      font-family: 'Poppins-Semi-bold', sans-serif;
      font-weight: 600;
      padding: 15px 0;
    }


   #portfolio {
        height: 550px;
    }

    #portfolio .text {
        font-size: 24px;
        margin-top: 30px;
        margin-bottom: 10px;
    }

    #main-slider{
      height: 60%;
    }
    #main-slider .image{
        height: 100%;
    }

    #main-slider .pref,
    #main-slider .next {
      width: 41px;
      height: 53px;
      font-size: 39px;
    } 

    #main-slider .pref{
     left: 2px;
    }

    #main-slider .next{
      right:0px;
    }

    #slides{
        padding: 0;
    }

    #slides ul {
        padding: 0 0 0 20px;
    }
/*
    #slides ul li{
      height: 38px;
    }

    #slides ul li.active{
      height: 30px;
      
    }*/


}

@media (max-width: 400px){
  
  .container {
    width: 100%;
    font-size: 8px;
  }
   header{
    height: 50px;
  }

  .top-bg{
    height: 15px;
  }
.top-bg .container .text span{
  font-size: 6px;
  padding:0 8px 0;
  line-height: 3;

  /*left: 110px;*/
}

 .top-bg .container .icon{
  /*top:1px;*/
  right: 4px;
}

.icon a{
  width: 10px;
}
.icon a img{
  height: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}


.header-menu{
  top:0px;
  padding-top:8px; 
  height: 35px;
  
}

.header-menu .container .logo{
  height: 100%;
  margin-right: 100px;
}

.logo a img{
  height: 10px;
}


.search{
  display: none;
}

.search-mobile{
  display: block;
  position: relative;
  float: left;
  color:#444444;
  top:5px;
}


.header-menu nav {
  background: #192335;
  position: absolute;
  z-index: 50;
  height: 33px;
  float: right;
  right: 0px;
  top: 0px;
  width: 30%;
  
}

.header-menu nav a{
  display: block;

  background: #192330;
  border: 1px solid #9f9b98;
  width: 100%;
  height: 18px;
  margin-right: 0;
  text-align: center;
  color: #ababab;
  padding-top: 15px;
  cursor: pointer;
  }
 
.header-menu nav a:hover{
  display: block;
  background: #9f9b98;
  border: 1px solid #9f9b98;
  width: 100%;
  margin-right: 0;
  text-align: center;
  /*padding-top: 15px;*/
  }

  /*Slider css*/

/*  .slide{
    height: 350px;
  }*/

  .slider{
    width: 100%;
   }


   .slider2{
    margin-left: 5px;
   }

  .slider2 .text {
    padding-top: 70px;
    width: 98%;
     
   }

   .slider2 .text span{
      line-height: 1.5;

   }

   .slider2 .text .head1{
    padding-bottom: 5px;
   }
 
  .about-service{
    height: 600px; 
  }

  .about-service .container .text{
    top:5%;
  }

  .about-service .container .text .text-head {
      font-size: 18px;
      margin-bottom: 16px;
  }

  .about-service .container .mockup img{
    display: block;
    margin: 0 auto 0;
    width: 80%;
  }

  .about-service .service .service-block div {
      width: 46%;
   }
   .about-service .service {
    height: 48%;
}


    #portfolio {
        height: 280px;
    }

    #portfolio .text {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    #main-slider{
      height: 60%;
    }
    #main-slider .image img {
    display: block;
    width: 80%;
    height: 80%;
    margin-top: 5%;
  }

    #main-slider .pref,
    #main-slider .next {
      width: 25px;
      height: 35px;
      font-size: 25px;

    } 

    #main-slider .pref{
      left: 10px;
    }

    #main-slider .next {
        right: 10px;
    }

  
    #slides ul {
        padding: 0 0 0 15px;
    }

    #slides ul li{
      width: 8%;
      height: auto;
    }

    #slides ul li.active{
      height: auto;
      width: 7%;
      border: 2px solid #009688;
      
    }

}



@media (max-width: 320px){
  .container {
    width: 100%;
    font-size: 7px;
  }
  .top-bg{
    font-size: 6px;
  }

  .icon a {
    width: 8px;
  }

  .top-bg .container .text span {
    font-size:5px;
    padding: 0 7px 0;
    line-height: 3;
    /* left: 110px; */
  }

  .slider2 .text span {
    font-size: 8px;
  }
  .slider2 .text .head1 {
    font-size: 9px;
  }

  .slider2 .text .text-up {
    font-size: 24px;
  }

  .about-service .container .text .text-head {
    font-size: 15px;
  }

  .about-service .service {
    height: 65%;

  }
 .about-service{
    height: 750px; 
  }

  .about-service .service .service-block div {
      width: 96%;
      padding: 0 auto;
   }

  .about-service .service div div a {
    font-size: 24px;
    }
   .about-service .service div div span {
    font-size: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    }
    
   #portfolio {
        height: 200px;
    }

    #portfolio .text {
        font-size: 16px;
        margin-top: 30px; 
        padding: 0;
    }

    #main-slider .pref,
    #main-slider .next {
      width: 21px;
      height: 28px;
      font-size: 21px;

    } 

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

